@import url(./css/header.css);
@import url(./css/conteudo.css);
@import url(./css/footer.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top , var(--preto-degrade) ,var(--azul-escuro) , var(--azul-claro)  25% );
}

